name: Release
on:
  push:
    tags:
    - '**'

permissions:
  contents: write # Required to support publishing a reelase

jobs:
  automate:
    runs-on: ubuntu-latest
    env:
      YARN_AUTH_TOKEN: ${{ secrets.NPM_RELEASE_TOKEN }}
      FORCE_COLOR: 1
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 5
      - uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
          cache: yarn
        env:
          FORCE_COLOR: 0
      - run: |
          yarn install --frozen-lockfile
      - name: Build latest version of release-utils
        run: yarn --cwd packages/release-utils prepublish
      - run: node packages/release-utils/lib/recipe.js test-and-publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
